<nav class="navbar">
  <span class="toggle-nav" id="toggle-nav">
  </span>

  <a href="#" class="logo">
    <p>Railcar</p>
  </a>
  <!-- </div> -->
  <ul class="main-nav" id="main-nav">
  <li><a href="#" class="nav-links">Home</a></li>
  <li><a href="#" class="nav-links">Account</a></li>
  <li><a href="#" class="nav-links">Conatct</a></li>
  <li><a href="#" class="nav-links">About</a></li>
  </ul>
</nav>
