<nav class="flex flex-wrap items-center justify-between py-3 text-gray-700 bg-white container mx-auto px-4" data-controller="nav">
  <div class="flex items-center mr-6 flex-no-shrink">
    <%= link_to root_path, class:"link text-xl tracking-tight font-black" do %>
      <span class="sr-only">Railcar</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-train" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M21 13c0 -3.87 -3.37 -7 -10 -7h-8"></path>
      <path d="M3 15h16a2 2 0 0 0 2 -2"></path>
      <path d="M3 6v5h17.5"></path>
      <path d="M3 10l0 4"></path>
      <path d="M8 11l0 -5"></path>
      <path d="M13 11l0 -4.5"></path>
      <path d="M3 19l18 0"></path>
    </svg>
    <% end %>
  </div>
  <div class="items-center w-full text-center lg:flex-1 lg:flex lg:text-left pt-2 lg:pt-0 hidden" data-nav-target="menu">
    <div class="lg:flex-grow">
      <%= link_to "Home", "#", class: "p-3 hover:bg-gray-50 transition ease duration-300 rounded-lg text-center focus:bg-gray-100 lg:inline-block block" %>
    </div>
    <div class="items-center block w-full mt-2 text-center lg:flex lg:flex-row lg:flex-1 lg:mt-0 lg:text-left lg:justify-end">
      <div><%# More links can go here %></div>
    </div>
  </div>
</nav>
