<div class="flex items-center justify-center">
  <div class="bg-indigo-800 text-white font-bold rounded-lg border shadow-lg p-10">
    <%= @name %>
    <i class="fab fa-clock fa-3x mx-2"></i>
  </div>
</div>
